.social-bar{
	width: 100%;
	background: $orange;
	.inner{
		margin: 0 auto;
		max-width: 590px;
	}
	li{
		display: inline-block;
		padding: 8px 10px;
		&:first-of-type{
			padding-left: 0;
		}
	}
	a{
			font-family: 'Gotham-Bold', Arial, Sans-serif;
		color: $grey;
		display: block;
		font-size: 16px;
		line-height: 20px;
	}
}

.home-header{
	max-width: 590px;
	margin: 0 auto;

	h1{
		    margin-top: 10px;
		font-size: 59px;
		width: 100%;
		line-height: 68px;

	}
	
	margin-bottom: 10px;
	padding-bottom: 10px;
	//border-bottom: 2px solid $orange;
}

.home-project-list{
	max-width: 590px;
	margin: 0 auto;

	.item{
		padding: 30px 0;
		a{
			cursor: crosshair;
			h2,h3{
				transition: color .1s;
			}	
			&:hover{
				h2, h3{
					color: #ff06bc;	
				}
				
			}
		}
		//border-bottom: 2px solid $orange;
	}
}


@media (max-width: 856px){

	.social-bar{
		.inner{
			padding: 0 30px;
		}
	}
	.home-header{
		padding: 0 30px;
		h1{
			font-size: 40px;
			line-height: 47px;
		}
	}
	.home-project-list{
		padding: 0 30px;
		h2{
			font-size: 40px;
			line-height: 47px;
		}
		h3{
			font-size: 20px;
		}
		.item{
			padding: 15px 0;
		}
	}
}

@media (max-width: 556px){
	.social-bar{
		.inner{
			padding: 0 30px;
		}
		li{
			a{
				font-size: 14px;
			}
		}
	}
	.home-header{
		padding: 0 30px;
		h1{
			font-size: 25px;
			line-height: 34px;
		}
	}
	.home-project-list{
		h2{
			font-size: 25px;
			line-height: 34px;
		}
		h3{
			font-size: 18px;
		}
		.item{
			padding: 10px 0;
		}
	}
}